<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-on-fhir.ZPM">
    <Module>
      <Name>iris-on-fhir</Name>
      <Version>1.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <CSPApplication 
        CookiePath="/iris-on-fhir/" 
        DefaultTimeout="900" 
        SourcePath="/src/csp" 
        DeployPath="/opt/irisbuild/src/csp/" 
        MatchRoles=":{$dbrole}" 
        PasswordAuthEnabled="1" 
        Recurse="1" ServeFiles="1" 
        ServeFilesTimeout="3600" 
        UnauthenticatedEnabled="0" 
        Url="/iris-on-fhir" 
        UseSessionCookie="2"/>
    </Module>
  </Document>
</Export>